.opening {
    /* background-image: url("../img/bg.png"); */
    /* background-attachment: fixed; */
    /* Full height */
    height: 500px;

    /* Center and scale the image nicely */
    background-position: left;
    background-color: grey;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.opening2 {
    background-image: url("../img/store.png");
    background-attachment: fixed;
    /* Full height */
    height: 300px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgtron {
    background-image: url("../content/img/mbag1.jpg");
    /* Full height */
    height: 200px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-login {
    background-image: url("../img/background_login.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-signup {
    background-image: url("../img/joinus.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.orders-preview {
    height: 100%;
    width: 20vh;
    object-fit: cover;
}

.img-book {
    height: 300px;
}

.book-cover {
    max-height: 500px;
    background-color: none;
}

#summary {
    font-size: 14px;
    line-height: 1.5;
}

#summary p.collapse:not(.show) {
    height: 42px !important;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#summary p.collapsing {
    min-height: 42px !important;
}

#summary a.collapsed:after {
    content: '+ Read More';
}

#summary a:not(.collapsed):after {
    content: '- Read Less';
}

.item {
    position: relative;
    padding-top: 20px;
    display: inline-block;
}

.notify-badge {
    position: absolute;
    right: -20px;
    top: 10px;
}

.sticky-top {
    top: 7em;
}

.card-ex {
    background-color: #fff;
    width: 280px;
    padding: 2rem !important;
}

.top-container {
    display: flex;
    align-items: center;
}

.profile-image {
    border-radius: 10px;
    border: 2px solid #5957f9;
}

.name {
    font-size: 15px;
    font-weight: bold;
    color: #272727;
    position: relative;
    top: 8px;
}

.mail {
    font-size: 14px;
    color: grey;
    position: relative;
    top: 2px;
}

.middle-container {
    background-color: #eee;
    border-radius: 12px;

}

.middle-container:hover {
    border: 1px solid #5957f9;
}

.dollar-div {
    background-color: #5957f9;
    padding: 12px;
    border-radius: 10px;
}

.round-div {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dollar {
    font-size: 16px !important;
    color: #5957f9 !important;
    font-weight: bold !important;
}


.current-balance {
    font-size: 15px;
    color: #272727;
    font-weight: bold;
}

.amount {
    color: #5957f9;
    font-size: 16px;
    font-weight: bold;
}

.dollar-sign {
    font-size: 16px;
    color: #272727;
    font-weight: bold;
}

.recent-border {
    border-left: 2px solid #5957f9;
    display: flex;
    align-items: center;

}

.recent-border:hover {
    border-bottom: 1px solid #dee2e6 !important;
}

.recent-orders {
    font-size: 16px;
    font-weight: 700;
    color: #5957f9;
    margin-left: 2px;
}

.wishlist {
    font-size: 16px;
    font-weight: 700;
    color: #272727;

}

.wishlist-border:hover {
    border-bottom: 1px solid #dee2e6 !important;
}

.fashion-studio {
    font-size: 16px;
    font-weight: 700;
    color: #272727;
}

.fashion-studio-border:hover {
    border-bottom: 1px solid #dee2e6 !important;
}

/* Useful css to scss converter
* http://sebastianpontow.de/css2compass/
*/
.autocomplete {
    position: relative;
    display: inline-block;
  }
  
  .autocomplete-items {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }