.container-md {
    font-weight: bold;
}

.bgtron {
    width: 100%;
    height: 500px;
    background-color: black;
}


.book-cover {
    color: white;
    height: 500px;
    background-color: grey;
}